/*
----------MONTSUR STYLES----------
BY: Jenny Ha
*/

//VARIABLES
$bluedark: #2a478f;
$bluemiddle: #2a75b8;
$bluelight: #2a8fca;

$grisdark:#3a3a3c;
$grismiddle:#4b4b4d;
$grislight:#a5a4a7;

$whiteaccent: #f0f0f0;

$accentbtn: #1c63b8;
// $text-primary:$bluemiddle;
$text-primary:$accentbtn;
$text-whiteaccent: $whiteaccent;

// Contenedores
* {
    //outline: 1px solid rgba(greenyellow, 0.5) !important;
}
/* GENERAL */
.max-container {
    max-width: 1000px;
}
.bg-light-grey {
    background-color: #f4f4f4;
}
.text-white {
    color: whitesmoke;
}
.bold-700 {
    font-weight: 700;
}
.bold-600 {
    font-weight: 600;
}
.text-right {
    text-align: right;
}
.wprt-headings.style-1 .sub-heading {
    margin-top: 20px;
}

/* BODY */
body {
    color: #555;
}
/* BOTONS FIXED */
.btn-fixed {
    width: 44px;
    a {
        display: block;
        padding: 5px;
        span {
            display: block;
            text-align: center;
            line-height: 1;
            &.icon {
                line-height: 0;
                font-size: 25px;
            }
            &.text {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 8px;
                margin-top: 2px;
            }
            &.large {
                font-size: 8px;
            }
        }
    }
}
#btn_brochure {
    display: block;
    position: fixed;
    top: 377px;
    right: 0;
    z-index: 999;
    border-radius: 6px 0 0 6px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .45);
    .wprt-button:hover {
        background-color: lighten($accentbtn, 10%) !important;
    }
}
#btn_whatsapp {
    display: block;
    position: fixed;
    top: 320px;
    right: 0;
    z-index: 999;
    border-radius: 6px 0 0 6px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .45);
   // background: url(assets/img/montsur/icono_certificados.png) no-repeat center;
    
    .wprt-button:hover {
        background-color: #52a920!important;
    }
}
/* HEADER*/
#site-header {
    .wprt-container {
        @media only screen and (min-width: 992px) {
            max-width: 1000px;
        }

    }
}
#site-logo-inner{
    //background-color: white;
    img {
        height: 52px;
    }
}

/* MS - SLIDER */
.text-colored {
    color: $text-primary;
    //text-shadow: 1px 1px whitesmoke;
}
#rev-slider2 {
    //overlay 
    .slotholder {
        &::before {
            position: absolute;
            background-color: #111;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            opacity: 0.45;
            z-index: 50;
        }
    }
    .tp-caption {
        z-index: 100;
    }
    .desc {
        margin: 30px auto 20px auto;
        max-width: 1000px !important;
        font-size: 16px;
        padding: 10px 0px;
        line-height: 1.75;
        @media only screen and (max-width: 749px) {
            font-size: 12px;
            margin-bottom: 0px;
        }

        @media only screen and (max-width: 991px) {
            
         }
    }
    .wrap-btn{
        line-height: 1.75;
        padding: 15px 0px;
    }
    .wprt-button.outline {
        border: 1px solid white;
        color:white;
        margin: 5px 5px;
        &:hover {
            border-color: $accentbtn;
        }

        @media only screen and (max-width: 991px) {
            padding: 5px 15px !important;
            font-size: 12px;
         }
    }
    .logo-respaldo {
        height: auto !important;
        width: 150px !important;
        margin-top: 20px;
        @media only screen and (min-width: 992px) {
            margin-top: 60px;
        }
    }
}

/* NOSOTROS */
.row-nosotros {
    .wprt-tabs {

    }
    .tab-title  {
        text-align: center;
        border-color: transparent;
        .item-title {
            color: #777;
            > span {
                text-transform: uppercase;
            }
        }
    }

    .tab-nosotros {
        .wrap-logo {
            margin-bottom: 25px;
            img {
                max-width: 300px;
            }
        }
        p {
            padding: 0 20px;
            font-size: 15px;
            //change mobile
        }
        .wrap-img {
            img {
                margin-top: 20px;
                max-width: 75%;
            }
        }
    }
    .tab-valores {
        .item-content {
            // padding-left: 30px; 
            //change media in mobile
        }
        .wrap-img {
            // padding-top: 15px;
            text-align: center;
            img {
                max-width: 400px;
            }
        }
    }
}


/* CERTIFIED */
.row-certified-1 {
    background: url(/assets/img/montsur/bg_respaldo.png) center center;
    position: relative;
    //Overlay 
    &:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.55);
    }
    .image-respaldo {
        display: block;
        margin: auto;
        //margin-right: 0px;
        width: 280px;
        padding: 15px 0px 0px;
    }
    .text-respaldo {
        padding: 30px 0px 0px;
        .text-medium {
            font-size: 130%;
        }
    }
}
 /* SERVICIOS */
 .row-services {
     &.bg-accent {
        .wprt-headings {
            .heading {
                color: white;
            }
            .sub-heading {
                color: $text-whiteaccent;
            }
        }
        .wprt-icon-box{
            .heading {
                color: white;
            }
            .desc {
                color: $text-whiteaccent;
            }
        }
     } // Bbg-accent

 }
 
 .container-icon-services {
    .wprt-icon-box {

        .heading {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            a {
                display: block;
                color: $text-primary;
            &:hover {
                color: rgba($text-primary, 0.78);
            }
            }
        }
        .icon-wrap {
            background-color: #1c63b8 !important;
            color: #fff !important;
            border-color: #1c63b8 !important;
        }
        .img-ico {
            display: block;
            height: 50px;
            margin: 25px auto;
            // filter: invert(1);
        }
    }
 }
 .mfp-arrow-left:after, 
 .mfp-arrow-left .mfp-a {
    font-family: "wprticons";
    content: "\e942";
    font-size: 16px;
    margin-left: 6px;
 }
 
 .mfp-arrow-right:after, 
 .mfp-arrow-right .mfp-a {
    font-family: "wprticons";
    content: "\e943";
    font-size: 16px;
    margin-left: 8px;
 }

/* PARTNER*/
.wprt-partner.has-shadow{
    .partner-item {
        .inner{
            box-shadow: 1px 1px 0px 0px #dbdbdb;
        }
        .thumb { 
            background-color: #fefefe; padding: 25px 30px; 
        }
    }   
}  

/* CONTACT*/
.row-contact{
    .wpcf7-form {
       margin-top: 20px;
        .form-control-wrap {
            width: 100%;
            margin-bottom: 10px;
            label {
                font-weight: 600;
                color: #999;
                padding-left: 22px;
                &.error {
                    top: 5px;
                    font-size: 11px;
                    color: rgba($text-primary, 0.7)
                }
            }
            .wpcf7-form-control {
                color: #666;
                font-weight: 500;
                &::placeholder   {
                    color: $grislight;
                }
            }
        }
        .wrap-submit{
            text-align: center;
            margin-top: 20px;
        }
        input[type="submit"] {
            background-color: $accentbtn;
        }
    }

    .map-iframe {
        width: 100%;
        margin-bottom: 0;
    }
}
/* FOOTER */
#footer {
    padding: 70px 0 35px;
    .logo-footer {
        height: 100px;
    }
    .textwidget {
        p {
            margin-bottom: 0px;
        }
    }

    // Contacto
    .widget_information {
        margin-top: 30px;;
    }
    .widget-title {
        padding-left: 28px;
    }
    .wprt-list.style-2.icon-top  {
        margin-bottom: 5px;
        .icon {
            top: 4px;
            >i {
                font-size: 16px;
            }
            .rt-icon-facebook {
                font-size: 18px;
                margin-left:  -2px;
            }
        }
        .iw-fb {
            .icon {
                top: 0px;
            }
        }
        .text {
            margin-bottom: 5px;
            line-height: 1.75;
        }
    }
    .widget-link {
        color: #b1b1b1;
    }
        
}
#bottom {
    padding: 20px 0px;
    border-top: 1px solid $grismiddle;
    /* .bottom-bar-content {
        display: block;
        margin: 0px -15px;
    } */
}