/*
----------MONTSUR STYLES----------
BY: Jenny Ha
*/

//VARIABLES
$bluedark: #2a478f;
$bluemiddle: #2a75b8;
$bluelight: #2a8fca;

$grisdark:#3a3a3c;
$grismiddle:#4b4b4d;
$grislight:#a5a4a7;

$whiteaccent: #f0f0f0;

$accentbtn: #1c63b8;
// $text-primary:$bluemiddle;
$text-primary:$accentbtn;
$text-whiteaccent: $whiteaccent;

// Contenedores
* {
    // outline: 1px solid rgba(greenyellow, 0.5) !important;
    font-display: block;
}

/* HTML-BODY */
body {
    color: #555;
    @media only screen and (max-width: 767px) {
        font-size: 12px;
    }
}
/* GENERAL */
h3 {
    @media only screen and (max-width: 767px) {
        font-size: 18px;
    }
}
.max-container {
    max-width: 1000px;
}
.bg-light-grey {
    background-color: #f4f4f4;
}
.text-white {
    color: whitesmoke;
}
.bold-700 {
    font-weight: 700;
}
.bold-600 {
    font-weight: 600;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.wprt-headings.style-1  {
    h2 {
        @media only screen and (max-width: 767px) {
            font-size: 24px;
        }
    }
    .sub-heading {
        @media only screen and (max-width: 991px) {
            font-size: 14px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 13px;
        }
    }
}

ul.list-with-icon {
    list-style-type: none;
    // margin-left: 20px;
    >li {
        padding-left: 10px;
        margin-bottom: 5px;
        position: relative;
        
        .icon{ // span wrap <i>
            position: absolute;
            left: -16px;
        }
    }
}
/* Fixing Style */
.wprt-headings.style-1 .sub-heading {
    margin-top: 20px;
}
.wprt-headings.style-1 .sep{
    height: 5px;
    border-radius: 3px;
}


//fixing clearfix class
.clearfix {
    content: "";
    clear: both;
}
/* BOTONS FIXED */
.btn-fixed {
    width: 44px;
    a {
        display: block;
        padding: 5px;
        span {
            display: block;
            text-align: center;
            line-height: 1;
            &.icon {
                line-height: 0;
                font-size: 25px;
            }
            &.text {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 8px;
                margin-top: 2px;
            }
            &.large {
                font-size: 8px;
            }
        }
    }
}
#btn_brochure {
    display: block;
    position: fixed;
    bottom: 130px;
    right: 0;
    z-index: 999;
    border-radius: 6px 0 0 6px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .45);
    .wprt-button{
        background-color: darken($color: $accentbtn, $amount: 3%) !important;
        &:hover {
            background-color: lighten($accentbtn, 7%) !important;
        }
    }
}
#btn_whatsapp {
    display: block;
    position: fixed;
    bottom: 187px;
    right: 0;
    z-index: 999;
    border-radius: 6px 0 0 6px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .45);
   // background: url(assets/img/icono_certificados.png) no-repeat center;
   .wprt-button {
        background-color: darken($color: $accentbtn, $amount: 3%) !important;
        &:hover {
            background-color: #52a920!important;
        }
    }
}
/* HEADER*/

#site-header {
    .wprt-container {
        @media only screen and (min-width: 992px) {
            max-width: 1000px;
            width: 90%
        }

    }
    &.is-fixed { //Evitar solapar modal
        z-index: 999;
    }
}
#site-logo-inner{
    //background-color: white;
    img {
        height: 52px;
    }
}

/* MS - SLIDER */
.text-colored {
    color: $text-primary;
    //text-shadow: 1px 1px whitesmoke;
}
#rev-slider2 {
    //overlay 
    .slotholder {
        &::before {
            position: absolute;
            background-color: #111;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            opacity: 0.45;
            z-index: 50;
        }
    }
    .tp-caption {
        z-index: 100;
    }
    .desc {
        margin: 30px auto 20px auto;
        max-width: 1000px !important;
        font-size: 16px;
        padding: 10px 0px;
        line-height: 1.75;
        @media only screen and (max-width: 749px) {
            font-size: 14px;
            margin-bottom: 0px;
        }
    }
    .wrap-btn{
        line-height: 1.75;
        padding: 15px 0px;
    }
    .wprt-button.outline {
        border: 1px solid white;
        color:white;
        margin: 5px 5px;
        &:hover {
            border-color: $accentbtn;
        }

        @media only screen and (max-width: 991px) {
            padding: 5px 15px !important;
            font-size: 12px;
         }
    }
    .logo-respaldo {
        height: auto !important;
        width: 150px !important;
        margin-top: 20px;
        @media only screen and (min-width: 992px) {
            margin-top: 60px;
        }
    }

    // Arrows
    .tparrows.custom {
        background-color: transparent;
        &:hover{
            background: transparent;
            &::before{
                opacity: 1;
            }
        }
        &.tp-leftarrow{
            &:before {
                font-size: 25px;
            }
        }
        &.tp-rightarrow{
            &:before {
                font-size: 25px;
            }
        }
    }
}

/* NOSOTROS */
.row-nosotros {
    .tab-title  {
        text-align: center;
        border-color: transparent;
        @media only screen and (max-width: 992px) {
            margin: 0 -4px 0 -2px;
        }
        .item-title {
            color: #777;
            > span {
                text-transform: uppercase;
                @media only screen and (max-width: 992px) {
                    font-size: 13px;
                }   
            }
            //Query sm and xs
            @media only screen and (max-width: 992px) {
                display: inline-block;
                width: 49%;
                margin: 2px 2px 0px 0px;
                line-height: 1.75;
            }
        }
    }

    .tab-content-wrap { //contiene todos los tabs content
        line-height: 2;
    }
    .tab-nosotros {
        .wrap-logo {
            margin-bottom: 25px;
            img {
                max-width: 300px;
            }
        }
        p {
            @media only screen and (min-width: 992px) {
                font-size: 15px;
            }
            //change mobile
            /* @media only screen and (max-width: 991px) {
                font-size: 13px;
            } */

        }
        .wrap-img {
            img {
                @media only screen and (min-width: 992px) {
                    margin-top: 20px;
                }
                width: 100%;
                max-width: 750px;
            }
        }
    }
    .tab-valores {
        .list-valores{ //ul
            >li {
                text-align: justify;
                @media only screen and (min-width: 992px) {
                    font-size: 15px;
                }
                .icon {
                    top: 3px;
                    @media only screen and (max-width: 767px) {
                        top: 5px;
                    }
                }
            }
        }
        
        .wrap-img {
            // padding-top: 15px;
            text-align: center;
            img {
                max-width: 400px;
            }
        }
    }
    .tab-vision, 
    .tab-mision {
        @media only screen and (min-width: 992px) {
            font-size: 15px;
        }
    }
}


/* CERTIFIED */
.row-certified-1 {
    background: url(assets/img/bg_respaldo.jpg) center center;
    position: relative;
    //Overlay 
    &:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.55);
    }
    .image-respaldo {
        display: block;
        margin: auto;
        width: 280px;
        max-width: 65%;
        // padding: 15px 0px 0px;
    }
    .text-respaldo {
        h2 {
            @media only screen and (max-width: 767px) {
                font-size: 1.75em;
            }
        }
        .text-medium {
            font-size: 13px;
            @media only screen and (min-width: 992px) {
                font-size: 18px;
            }

        }
    }
}
 /* SERVICIOS */
 .row-services {
    .bg-accent {
        .wprt-headings {
            .heading {
                color: white;
            }
            .sub-heading {
                color: $text-whiteaccent;
            }
        }
        /* .wprt-icon-box{
            .heading {
                color: white;
            }
            .desc {
                color: $text-whiteaccent;
            }
        } */
     } // Bbg-accent

 }
 
 .container-icon-services {
    .wprt-icon-box {

        .heading {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.35;
            text-transform: uppercase;
            margin-top: 10px;
            @media only screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 1.4;
            }
            >span {
                font-size: 14px;
                @media only screen and (max-width: 767px) {
                    font-size: 12px;
                }
            }
            a {
                display: block;
                color: $text-primary;
                &:hover {
                    color: lighten($text-primary, 5%);
                }
            }
        }
        .text-service {
            font-size: 14px;
            margin-bottom: 4px;
            @media only screen and (max-width: 767px) {
                font-size: 15px;
            }
        }
        .icon-wrap {
            background-color: #1c63b8 !important;
            color: #fff !important;
            border-color: #1c63b8 !important;
            &:hover {
                background-color: lighten($text-primary, 7%) !important;
            }
        }
        .img-ico {
            display: block;
            height: 68px;
            margin: 7px auto 0px;
            // filter: invert(1);
        }
    }
 }
 .mfp-arrow-left:after, 
 .mfp-arrow-left .mfp-a {
    font-family: "wprticons";
    content: "\e942";
    font-size: 16px;
    margin-left: 6px;
 }
 
 .mfp-arrow-right:after, 
 .mfp-arrow-right .mfp-a {
    font-family: "wprticons";
    content: "\e943";
    font-size: 16px;
    margin-left: 8px;
 }

/* PARTNER*/
.wprt-partner.has-shadow{
    .partner-item {
        .inner{
            box-shadow: 1px 1px 0px 0px #dbdbdb;
        }
        .thumb { 
            background-color: #fefefe; padding: 25px 30px; 
        }
    }   
}  

/* CONTACT*/
.row-contact{
    .wprt-tabs {
        .tab-title{ //ul
            text-align: center;
            border-bottom: 2px solid $accentbtn;
            /* @media only screen and (max-width: 991px) {
                border-bottom: 1px solid $accentbtn;
            } */
            .item-title {
                display: inline-block;
                position: relative;
                top: 2px;
                margin: 0 !important;
                > span {
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #777;
                    margin-bottom: 0px !important;
                }
            &.active {
                >span {
                    color: white;
                }
            }

            }
        }
    }
    /* Tabs*/
    .tab-content-wrap{
        padding-left: 40px;   
        padding-right: 40px;   
        border: 2px solid $accentbtn;
        border-top: none;
        @media only screen and (max-width: 767px) {
            padding-left: 20px;   
            padding-right: 20px;   
        }
    }
    .list-info-contact { //ul
        @media only screen and (min-width: 992px) {
            font-size: 15px;
        }
        .icon { //span with <i>
            font-size: 12px;
            top: 6px;
            @media only screen and (max-width: 767px) {
                // top: 4px;
            }
        }
    }
    //  text intro 
    .intro-info{
        text-align: center;
        @media only screen and (min-width: 992px) {
            font-size: 15px;
        }
    }
    /* Form */
    .ms-contact-form {
        .form-control-wrap {
            &.your-message {
                textarea {
                    height: 200px;
                    margin-bottom: 0px;
                }
            }  
        }
    }
    .wpcf7-form { //form
       margin-top: 20px;
        .form-control-wrap {
            width: 100%;
            margin-bottom: 10px;
            label {
                &.error {
                    font-weight: 600;
                    padding-left: 22px;
                    display: block;
                    position: initial;
                    line-height: 1.5;
                    font-size: 11px;
                    color: rgba($text-primary, 0.7)
                }
            }
            .wpcf7-form-control {
                color: #666;
                font-weight: 500;
                background-color: white;
                border-color: lighten($color: $accentbtn, $amount: 3%);
                border-width: 1px;
                &::placeholder   {
                    color: darken($color: $grislight, $amount: 10%);
                }
            }
        }
        .wrap-submit{
            text-align: center;
            margin-top: 20px;
        }
    }
    .map-container{
        margin-top: 35px;
    }
    .map-iframe {
        width: 95%;
        margin-bottom: 0;
        height: 300px;
        @media only screen and (max-width: 767px) {
            width: 100%;
            height: 200px;
        }
    }
}
/* FOOTER */
#footer { 
    padding: 70px 0 35px;
    @media only screen and (max-width: 991px) {
        padding: 40px 0 0;
    }
    .logo-footer {
        height: 100px;
        margin-bottom: 30px;
    }
    .widget{ //Contenedor de las dos culumnas
        @media only screen and (max-width: 767px) {
            font-size: 13px;
            margin-top: 0px;
        }
    }
    .textwidget {
        p {
            margin-bottom: 0px;
        }
        @media only screen and (max-width: 450px) {
            text-align: center;
            .it {
                font-style: italic;
            }
        }
    }

    // Contacto
    .widget-title {
        margin-bottom: 20px !important;
        > span:after{
            background-color: $grislight !important;
        }
    }
    // Lista de .ms-contacto
    .list-footer  { //ul
        margin-left: 20px !important;
        >li {
            .icon {
                top: 2px;
            }
            padding-left: 10px !important;
            font-size: 13px;
            @media only screen and (min-width: 768px) {
                font-size: 15px;
            }
        }
    }
    .widget-link {
        color: #b1b1b1;
    }
        
}
#bottom {
    padding: 15px 0px;
    border-top: 1px solid $grismiddle;
    #copyright {
        font-size: 12px;
        line-height: 1.4;
    }
}

/* MODAL BROCHURE */
.mfp-iframe{
    background: white !important;
    padding: 10px;
}
.mfp-bg {
    opacity: 0.75;
}

/**********************************
        Page Services
**********************************/
// Fix header with style 2
.page-service.header-style-2 {
    #site-header-wrap {
        position: initial !important;
    }
    #site-header {
        background-color: darken($color: $accentbtn, $amount: 5%) !important;
    }
    #site-header-inner {
        padding-top: 15px;
        padding-bottom: 15px;
        @media only screen and (min-width: 992px) {
            width: 95%;
            max-width: 1000px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .logo-service {
        @media only screen and (min-width: 992px) { 
            width: 99px;
            height: auto !important;
        }
    }
}

#featured-title  {
    position: relative;
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.55);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    //Para pg industria
    &.ft-industria {
        background: url('assets/img/industria/page-title.jpg') center center/cover;
    }
    &.ft-minería{
        background: url('assets/img/mineria/page-title.jpg') center center/cover;
    }
    &.ft-pesqueria{
        background: url('assets/img/pesqueria/page-title.jpg') center center/cover;
    }
    &.ft-petroleo{
        background: url('assets/img/petroleo/page-title.jpg') center center/cover;
    }
    &.ft-construccion{
        background: url('assets/img/construccion/page-title.jpg') center center/cover;
    }
    &.ft-comercio{
        background: url('assets/img/comercio/page-title.jpg') center center/cover;
    }
    &.ft-energia{
        background: url('assets/img/energia/page-title.jpg') center center/cover;
    }
    //Para otros-servicios
    &.ft-otros {
        background: url('assets/img/otros-servicios/page-title.jpg') center center/cover;
    }
    //
    .wprt-container  {
        max-width: 1000px;
        width: 100%;
        @media only screen and (max-width: 991px) and (min-width: 768px) {
            max-width: 750px; 
        }
    }
    .featured-title-inner-wrap {
        height: 400px;
        @media only screen and (max-width: 991px) {
            height: 350px;
        }
        @media only screen and (max-width: 767px) {
            height: 250px;
            display: table;
        }
    }
    .featured-title-heading-wrap {
        @media only screen and (max-width: 767px) {
            display: table-cell;
        }
    }
    .featured-title-heading { //H1
        color: white;
        font-size: 3.5rem;
        font-weight: 600;
        position: relative;
        @media only screen and (max-width: 767px) {
            line-height: 1.3;
        }

        &::before {
            content: "";
            background-color: $accentbtn;
            width: 45px;
            height: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 5px;
            @media only screen and (max-width: 767px) {
                bottom: -5px;
            }
        }
    }
}

/* NavBar vertical de Services */
.services-nav { //.wprt-navbar 
    .menu{
        >li {
            padding-right: 40px;
            border: 2px solid transparent;
            >a{
                @media only screen and (max-width: 767px) {
                    font-size: 13px;
                }
                &::before{ //viñeta
                    @media only screen and (max-width: 767px) {
                        top:14px;
                    }
                }
                &:hover{
                    &::before{  
                        background-color: $accentbtn;
                    }
                }
            }
            &.current-nav-it {
                border-color: $accentbtn;
                background-color: white;
                >a {
                    @media only screen and (min-width: 768px) {
                        pointer-events: none;
                    }
                    color: $accentbtn;
                    &::before{
                        background-color: lighten($color: $accentbtn, $amount: 0.3);
                    }
                    &::after {
                        font-family: 'wprticons' !important;
                        content: "\e943";
                        font-weight: 700;
                        position: absolute;
                        right: -25px;
                        color: $accentbtn;
                        
                    }
                }
            }
            
        }

    }
}

/* Contenido del servicio*/
.service-content-wrap{
    h3 {
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        @media only screen and (max-width: 767px) {
            font-size: 16px;
        }
        &::before{
            content: "";
            background-color:lighten($color: $accentbtn, $amount: 10%);
            width: 35px;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: -3px;
            border-radius: 5px;
        }
    }
    /* .text-justify {
        @media only screen and (max-width: 767px) {
            text-align: initial;
        }
    } */
}
.service-box-content{
    
    .img-service-wrap {
        margin-bottom: 15px;
        @media only screen and (min-width: 450px) {
            margin-top: 10px;
            margin-left: -5px;
            margin-right: -5px;    
        }
        >img {
            width: 100%;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
            @media only screen and (min-width: 450px) {
                width: 50%;
                float: left;
                padding: 0 5px;
                margin-bottom: 0px;
            }
        }
    }
    .img-service-wrap-full {
        margin-bottom: 15px;
        text-align: center;
        >img {
            max-width: 100%;
        }
    }
}
.list-services { //ul
    .icon {
        top: 3px;
        @media only screen and (max-width: 767px) {
            top: 6px;
        }
    }
}

/* Contacto*/
.row-promotion {
    background-color: lighten($color: $accentbtn, $amount:  0%);
    // background-color: darken($color: $accentbtn, $amount: 5%);
    /* background:url('assets/img/bg-contact-row.jpg');
    background-size: cover;
    background-position-y: 25%;
    background-position-x: 75%;
    position: relative;
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    } */
    .wprt-action-box {
        .heading-wrap {
            .heading{
                font-size: 18px;   
                line-height: 1.5;
                color: whitesmoke;
            }
        }
    
        .icon {
            opacity: 0.75; 
        }
        .btn-ot-white {
            color: white;
            border: 2px solid white;
            background-color: transparent;
            &:hover{
                background-color: #333;
                border-color: #333;
            }
        }
    }
}